.svgdraw-setinto-canvas .canvas-controls{
  font-size:0;@include borderbox();padding:0 $canvas-ruler-width;background-color:#424242;color:#AAA;display:block;position:absolute;left:0;top:0;width:100%;height:$canvas-controls-height;line-height:$canvas-controls-height;

  > div{display:inline-block;font-size:14px;@include borderbox();}

  input{background-color:transparent;border:none;width:50px;color:#AAA;}

  .cursor-coords{
    &:before{content:"Cursor: "}
    > span{@include borderbox();}
    .x:before{content:"X: ";}
    .y:before{content:"Y: ";}
  }

  .viewbox{
    &:before{content:"Viewbox: "}
    > span{@include borderbox();}
    .min-x:before{content:"Min-X: ";}
    .min-y:before{content:"Min-Y: ";}
    .width:before{content:"Width: ";}
    .height:before{content:"Height: ";}
  }

  .preserveaspectratio{
    &:before{content:"PAR: "}
  }

  .zoom{
    &:before{content:"Zoom: "}
  }
}
